.main {
  display: flex;
  padding: 0px;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  font-size: min(2rem, 5vw);
  font-weight: bold;
}
a.nav-link {
  font-size: min(1rem, 4vw);
  font-weight: bolder;
}
a.nav-link:hover {
  color: #ff8000;
}
a.nav-link.active:hover {
  color: #ff8000;
}
.btn:hover {
  color: #ff8000;
  background-color: black;
}
.text-black {
  background-color: rgba(246, 106, 13, 0.3);
  border-radius: 10px;
  align-content: space-between;
}
.text-black h1 {
  color: orangered;
}
button.text-black {
  font-weight: min(1.5rem, 4vw);
}

.text-over-Image {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 3rem;
  font-weight: bold;
}
.home-banner {
  position: absolute;
  top: 37%;
  left: 23.5%;
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.bg-video-layer {
  position: absolute;
  top: 24%;
  left: 51%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  align-items: center;
}
.bg-video-layer1 {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.bg-properties {
  position: absolute;
  top: 45%;
  left: 49%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}
.bg-properties-1 {
  position: absolute;
  top: 37%;
  left: 49%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: rgb(17, 15, 15);
  background-color: white;
  padding: 10px;
}

.card {
  margin: auto;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.second {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  justify-content: center;
}
.third {
  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
  align-items: center;
}
.fourth {
  width: 100%;
  height: 100%;
  margin: 20px 0 10px 20px;
}
.fifth {
  display: grid;
  width: 50%;
  height: 75%;
  margin: 20px 0 10px 0;
  justify-content: start;
}
.card-body {
  padding: 20px;
}
.accordion-button {
  background-color: #f8f9fa;
  border-radius: 10px;
  font-weight: bold;
}
.accordion-button:not(.collapsed) {
  background-color: #e9ecef;
}
.accordion-item {
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.btn-dark {
  border-radius: 50px;
}
.Schedule {
  margin: -11px;
}
.properties {
  margin-top: 100px;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  margin-top: 50px;
}
.btn-properties {
  margin-top: 40px;
  margin-bottom: auto;
  background-color: black;
  color: white;
  padding: 10px;
}
.btn-properties:hover {
  background-color: #ff8000;
  color: white;
}
.card-pSecond {
  width: 400px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-contact {
  width: 30%;
  height: fit-content;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, 100%);
  background: #ff4c2c;
  color: #fff;
  font-size: 30px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .play-btn {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-70%, 100%);
    background: #ff4c2c;
    color: #fff;
    font-size: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .bg-video-layer {
    position: absolute;
    top: 15%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
  }
  .bg-video-layer1 {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .home-banner {
    position: absolute;
    top: 30%;
    left: 19.5%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .home-banner {
    position: absolute;
    top: 26%;
    left: 18.5%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
  .bg-video-layer1 {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .bg-video-layer {
    position: absolute;
    top: 18%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
  }
  .h1,
  h1 {
    font-size: calc(1.375rem + -0.5vw);
  }
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    --bs-gutter-x: -0.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }
  .play-btn {
    position: absolute;
    top: 31%;
    left: 48%;
    transform: translate(-70%, 100%);
    background: #ff4c2c;
    color: #fff;
    font-size: 25px;
    width: 45px;
    height: 47px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .form { 
    width: 29.333333%;
    
  }
  
    .bg-video-layer {
        position: absolute;
        top: 12%;
        left: 51%;
        transform: translate(-50%, -50%);
        /* color: white; */
        padding: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        align-items: center;
    }
        .bg-video-layer1 {
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .fifth {
    display: grid
;
    width: 69%;
    height: 75%;
    margin: 20px 0 10px 0;
    justify-content: start;
}
}
@media (min-width: 577px) and (max-width: 768px) {
  .home-banner {
    position: absolute;
    top: 21%;
    left: 23.5%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    padding: 10px;
    text-shadow: 2px 2px 4px 
}
.text-over-Image {
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translate(-50%, -50%);
   
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
    
}
.bg-video-layer {
    position: absolute;
    top: 11%;
    left: 51%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
}
.bg-video-layer1 {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: -3.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
.play-btn {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-70%, 100%);
    background: #ff4c2c;
    color: #fff;
    font-size: 30px;
    width: 40px;
    height: 39px;
    border-radius: 50%;
    display: flex
;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.form {
  width: 31.333333%;
    transform: translateY(-28%);
}
#map {
  height: 100px;
}
.h1, h1 {
    font-size: calc(1.375rem + -0.5vw);
}
    .bg-video-layer {
        position: absolute;
        top: 15%;
        left: 51%;
        transform: translate(-50%, -50%);
        padding: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        align-items: center;
    }
    .bg-video-layer1 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .fifth {
      width: 89%;
    }
}
@media (min-width:320px) and (max-width: 576px) {
  .h1, h1 {
    font-size: calc(0.375rem + 1.5vw);
}
.home-banner {
    position: absolute;
    top: 24%;
    left: 32.5%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    padding: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: -0.5rem;
    --bs-gutter-y: 0;
    width: 94%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
.bg-video-layer1 {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.bg-video-layer {
    position: absolute;
    top: 7%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;
}
.play-btn {
    position: absolute;
    top: 9%;
    left: 51%;
    transform: translate(-70%, 100%);
    background: #ff4c2c;
    color: #fff;
    font-size: 30px;
    width: 31px;
    height: 30px;
    border-radius: 50%;
    display: flex
;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.img-overlay-1 {
  min-height: 81vh;
}
.btn-dark {
    border-radius: 0px;
}
.Schedule {
    margin: 11px;
  
}
.form {
  width: 93.333333%;
    transform: translateY(-35%);
}
#map {
  width: 100%;
  height: 75%;
}
.bg-video-layer {
        position: absolute;
        top: 11%;
        left: 51%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        align-items: center;
    }
    .bg-video-layer1 {
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .fifth {
      box-shadow: none;
      padding: 0px;
      width: 100%;
    }
}