/* 1st header */
.icons:hover {
  color: #ff8000;
  background-color: black;
}
/* end */
/* navbar designation */
.villa {
  font-size: min(1rem, 4vw);
  font-weight: bolder;
}
.active.villa:hover {
  color: #ff8000;
}
.villa-1:hover {
  color: #ff8000;
}
.schedule-btn {
  border-radius: 50px;
}
.Schedule {
  margin: -9px;
}
.schedule-btn:hover {
  color: #ff8000;
  background-color: black;
}
/* navbar designation is compete */
/* carrousel */
.img-parent {
  position: relative;
}
.text-parent {
  position: absolute;
  top: 40%;
  left: 15%;
}
.small-text {
  background-color: white;
  padding: 5px;
}
#header-tag {
  color: white;
}

/* in feauture propeties */
.accordion-button {
  background-color: #f8f9fa;
  border-radius: 10px;
  font-weight: bold;
}
.accordion-button:not(.collapsed) {
  background-color: #e9ecef;
}
.accordion-item {
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* feature properties compete */
/* overlay */
.parent-img {
  position: relative;
  object-fit: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}
.parent-txt {
  position: absolute;
  top: 30%;
  color: white;
  left: 40%;
}
.child-img {
  position: absolute;
  top: 70%;
  left: 15%;
  width: 50%;
  height: auto;
  z-index: 1;
}
.child-icon {
  position: absolute;
  top: 50%;
  left: 69%;
  background: #ff3300dd;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  z-index: 10;
  cursor: pointer;
}
.child-icon:hover {
  background-color: #ff4c2cdb;
  animation: linear 0.3sec;
}
.video {
  display: flex;
  justify-content: center;
}
.font {
  font-size: 2.8rem;
}
.hieght {
  height: 900px;
}
/* overlay end */
/* badges */
.metric-box {
  position: relative;
  background-color: rgba(255, 68, 0, 0.142);
  border-radius: 10px;
  padding: 0 10px 0 10px;
  margin-bottom: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}
.badges {
  justify-content: space-evenly;
  display: flex;
}
.metric-number {
  font-size: 48px;
  font-weight: bold;
  color: #ff7f00;
  margin-right: 12px;
}
.circle {
  background-color: rgb(255, 68, 0);
}
/* end */

/* in properties design for text and background */
.bg-pro {
  background-color: rgba(255, 68, 0, 0.2);
  padding: 10px;
  margin: 0 100px 0 0;
  border-radius: 5px;
}
.bg-pro-1 {
  background-color: rgba(255, 68, 0, 0.2);
  padding: 10px;
  margin: 0 50px 0 0;
  border-radius: 5px;
}
.test-color {
  color: orangered;
  font-weight: bold;
}

/* properties window */
.buttons-properties {
  display: flex;
  margin: 60px 0 40px 0;
  justify-content: space-evenly;
  padding: 50px 0 50px 0;
}
.pro {
  padding: 10px;
}
.pro:hover {
  color: #ff8000;
  background-color: black;
}
.Contact-form {
  width: 75%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.form-control {
  background-color: #0000001c;
}
.pro-btn:hover {
  color: #ff8000;
  background-color: black;
}
/* completed-properties session */
/* best deal */
.best-card {
  border: none;
  border-radius: 10px;
  padding: 0 20px 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* overlaying */
.banner-card img {
  width: 100%;
}
.banner-card {
  position: relative;
}
.banner-text {
  position: absolute;
  top: 30%;
  left: 40%;
  color: white;
}
.banner-text h4 {
  font-weight: bolder;
  font-size: 5vw;
}
/* end */
/* overlay of iframe and form */
.contact-text {
  position: absolute;
  top: 25%;
  left: 45%;
}
.parent-bg-img {
  height: 900px;
  overflow: hidden;
}
.Contact-form-home {
  width: 300px;
  height: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

.iframe-img {
  top: 45%;
  left: 15%;
}
.form-sec {
  top: 50%;
  left: 60%;
}
@media only screen and (width: 1200px) {
  .iframe-img {left: 30%;}
  .form-sec {
    left: 85%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .iframe-img {left: 30%;}
  .form-sec {
    left: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .iframe-img {left: 30%;}
  .form-sec {left: 110%;}
}
@media (min-width: 690px) and (max-width: 768px) {
  .iframe-img {left: 60%;}
  .form-sec {left: 150%;}
}
@media only screen and (width: 768px) {
  .iframe-img {left: 30%;}
  .form-sec {left: 115%;}
}
@media (min-width: 576px) and (max-width: 690px) {
  .iframe-img {left: 60%;}
  .form-sec {left: 170%;}
}
@media (min-width: 460px) and (max-width: 576px) {
  .iframe-img {left: 60%;}
  .form-sec {left: 200%;}
}
@media (min-width: 390px) and (max-width: 576px) {
  .iframe-img {left: 60%;}
  .form-sec {left: 230%;}
}
@media (min-width: 320px) and (max-width: 390px) {
  .iframe-img {left: 60%;}
  .form-sec {left: 250%;}
}
@media only screen and (width: 320px) {
  .iframe-img {left: 60%;}
  .form-sec {left: 260%;}
}
/* media queries also done */
/* footer session */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  margin-top: 50px;
}
